pin-depends: [
  ["soteria.~dev" "git+https://github.com/soteria-tools/soteria#d8d790f7726c80b9cea66e6e545b8f291f52c424"]
  ["simple_smt.~dev" "git+https://github.com/NatKarmios/simple-smt-ocaml#9db7ef0bb61a76010de255af3cbe4066dd8dd622"]
]
