assume well_formed(user) && well_formed(pass) && fresh(0) && !locked(user) && attempts(user) < MAX_ATTEMPTS;

invoke Auth(user, pass, 0);

int remaining_operations := operations;
assume operations > 0 && operations < 4;

int get := 1;
int pay := 2;
int price := 0;

while remaining_operations > 0 do {
  assume op == get || op == pay;
  
  if op == get then {
    assume well_formed(prod_id);
    rcpt r := invoke GetPrice(prod_id);
    assert r.successful;
    price := r.retval;
  } else {
    invoke Pay(price);
  }
  
  remaining_operations := remaining_operations - 1;
}
