int user := ?;
int pass := ?;
int tok := invoke Auth(user, pass, 0);
int operations := ?;
assume operations > 0 && operations < 4;

int get := 1;
int pay := 2;
int prodId := 0;
int price := 0;

while operations > 0 do {
  int op := ?;
  assume op == get || op == pay;
  if op == get then {
    prodId := ?;
    price := invoke GetPrice(prodId);
  } else {
    invoke Pay(price);
  }
  operations := operations - 1;
}
