user := ?;
pass := ?;
tok := invoke Auth(user, pass, 0);
operations := ?;
assume operations > 0 && operations < 4;

get := 1;
pay := 2;
prodId := 0;
price := 0;

while operations > 0 do {
  op := ?;
  assume op == get || op == pay;
  if op == get then {
    prodId := ?;
    price := invoke GetPrice(prodId);
  } else {
    invoke Pay(price);
  }
  operations := operations - 1;
}
