service g(a) max cost:10 max latency:84 trust:10 {
  skip;
  assume a<0;
} {
  skip;
}
policy trust []
;
x := 3 / ?;
y := 1 / x;
z := invoke f(y, x);
t := ? / z;
invoke f(?);
if ? != 0 then {
    assume t != 0;
    invoke g(?);
} else {
    invoke h(?);
}
assert t != 0;